.img_card {
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0px 0px;
}

.information p,
.information h5 {
  margin: 2px;
  text-align: center;
  color: #474747;
}
.information p {
  border: 1px dashed #06b6d480;
  border-radius: 5px;
  margin-top: 5px;
  padding: 2px 5px;
}
.information a {
  font-size: 13px;
  margin: 0px;
  text-align: center;
}

.information_title h3,
.information_title h4 {
  text-align: center;
  margin: 5px;
}

.information_title h4 {
  color: #474747;
}

.dark .information_title h4 {
  color: #fffffd;
}

.dark .information h5 {
  color: #fffffd;
}

.dark .information p {
  color: #fffffd;
}

.boton_card {
  margin: 3px;
  background-color: rgba(136, 136, 136, 0.116);
  color: white;
  border-radius: 20px;
  border: 2px solid #06b6d43b;
  height: 40px;
  width: auto;
  cursor: pointer;
}

.dark .boton_card {
  border: 2px solid #fffffd;
}

.fix_width {
  width: 120px;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.dark .card {
  background-color: #015778;
  box-shadow: 0 4px 8px rgba(227, 226, 226, 0.1);
}

.dark .card:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.762);
}

.card:hover {
  box-shadow: 0 3px 4px rgba(36, 117, 135, 0.54);
  transform: scale(1.1);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1.4rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-detail {
  width: 30vw;
  margin: 0px;
  justify-content: start;
}

.card-fav {
  height: 360px;
  margin: 25px;
  width: 50vw;
  justify-content: center;
}

.card-fav:hover {
  box-shadow: none;
}

.card-detail:hover {
  transform: none;
}
