.navbarContainer {
  width: 100vw;
  display: flex;
  background-color: rgb(68, 68, 68);
  padding: 0px 10px;
}

h4 {
  color: white;
}

h3 {
  color: #06b6d4;
  text-transform: uppercase;
}

.tituloPrincipal {
  font-weight: bold;
  margin-right: auto;
  margin-top: 25px;
}

.navbar {
  display: flex;
  gap: 70px;
}

.boton_navbar {
  margin: 16px;
  background-color: #06b6d4;
  color: white;
  border-radius: 20px;
  border: 2px solid white;
}
